<!--
<header>
   Header Start
 <div class="header-area">
      <div class="main-header ">
          <div class="header-top top-bg d-none d-lg-block">
             <div class="container-fluid">
                 <div class="col-xl-12">
                      <div class="row d-flex justify-content-between align-items-center">
                          <div class="header-info-left">
                              <ul>
                                  <li><i class="fas fa-map-marker-alt"></i>65/A, 17th floor, Kings land, New York</li>
                                  <li><i class="fas fa-envelope"></i>info@consulting.com</li>
                              </ul>
                          </div>
                          <div class="header-info-right">
                              <ul class="header-social">
                                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                 <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                              </ul>
                          </div>
                      </div>
                 </div>
             </div>
          </div>
         <div class="header-bottom  header-sticky">
              <div class="container-fluid">
                  <div class="row align-items-center">
                       Logo
                      <div class="col-xl-2 col-lg-1 col-md-1">
                          <div class="logo">
                             <a href="index.html"><img src="assets/assets/img/logo/qaimage2.jpg" width="60" alt=""></a>
                          </div>
                      </div>
                      <div class="col-xl-8 col-lg-8 col-md-8">
                          Main-menu
                          <div class="main-menu f-right d-none d-lg-block ">
                              <nav>
                                  <ul id="navigation">
                                      <li ><a routerLink="/">Home</a></li>
                                      <li ><a routerLink="/register">Register</a></li>
                                      <li ><a routerLink="/login">Login</a></li>
                                      <li ><a routerLink="/questions">Questions</a></li>
                                      <li ><a routerLink="">About us</a></li>
                                      <li><a href="#">Help</a>

                                      </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-2 col-lg-3 col-md-3">
                          <div class="header-right-btn f-right d-none d-lg-block">
                              <a routerLink="/contact" class="btn header-btn">Contact Now</a>
                          </div>
                      </div>
                      Mobile Menu
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>
         </div>
      </div>
 </div>
  Header End
</header>  -->

<!-- bootstrap navbar here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto hover1">

      <li class="nav-item ml-4">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/register" >Register</a>
      </li>
      <!-- <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/login" >Login</a>
      </li> -->
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/questions" >Questions</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/answers">Answer</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/help" >Help</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>


    </ul>
    <form class="d-flex justify-content-end">
      <input class="form-control ml-auto ml-3" type="search" placeholder="Search" aria-label="Search" >
      <button mat-stroked-button class="ml-2"><mat-icon>search</mat-icon></button>
    </form>
  </div>
</nav>



