<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="container-fluid maindiv">
  <div class="row">

<!-- Left div -->

    <div class="col-2 col">
      <div class=" container  shadow-sm p-3 bg-body rounded">
        <div class="container-fluid Heading pt-2 shadow-sm p-1 bg-body rounded">
           <p><a href="#">Category</a></p>
        </div>
        <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
          <nav class="hover1">
            <ul class="greyleft"a>
              <li  class="sidenav">
                <a (click)="getCategory('Education')">Education</a>
              </li>
              <li class="sidenav">
                <a (click)="getCategory2('Music')">Music</a>
              </li>
              <li class="sidenav">
                <a (click)="getCategory3('Sports')">Sports</a>
              </li>
              <li class="sidenav">
                <a (click)="getCategory4('Technical')">Technical</a>
              </li>
              <!-- <li class="sidenav">
                <a href="#">Mathematics</a>
              </li>
              <li class="sidenav">
                <a href="#">Travelling</a>
              </li>
              <li class="sidenav">
                <a href="#">Fashion and Style</a>
              </li>
              <li class="sidenav">
                <a href="#">Food</a>
              </li>
              <li class="sidenav">
                <a href="#">+ Discover Category</a>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>

        <!-- Center div here -->

    <div class="col-7 col shadow p-3 mb-5 bg-body rounded">
        <div class="container Heading pt-2 text-center shadow-sm p-s bg-body rounded">
         <p> <button mat-button (click)="openDialogue()" >Ask Your Question</button></p>

        </div>

        <!-- center div 1st part with Q and A -->

        <div class="container Heading shadow-sm p-3 bg-body rounded "  *ngFor="let ans1 of catAnsw">

           <span class="username"><img src="{{ans1.userid.image}}" width="30"  alt="userimg"> {{ans1.userid.name}}</span><br>

           <!-- <span class="close mt-2"><a href="#"><img src="../../assets/assets/img/icon/close-window.png" width="30" alt="abc"></a></span><br> -->
           <span class="follow mt-0"> lives in {{ans1.credentialid.address}} ,</span>
           <span class="follow mt-0"> {{ans1.credentialid.location}}  </span>
           <span class="follow">{{ans1._id.date}}</span>
           <span class="follow ml-2"><a href="#"></a>Follow</span>


           <!-- <span class="follow mt-0"> lives in New Delhi , India</span>
           <span class="follow"> 2Feb,2018</span>
           <span class="follow ml-2"><a href="#"></a> Follow</span> -->

           <!-- For displaying the questions -->

           <div class="question mt-3">
              <a href="#">

                Que:{{ans1.questionid.question|titlecase}}
              </a>
            </div>

            <!-- For displaying the answers -->
            <div class="info">
              Ans:{{ans1._id.answer|titlecase}}
             </div>


           <div class="bottom">
             <a href="#"><img id="like" class="imghw" src="../../assets/assets/img/icon/facebook-like.png" width="30" alt="like"></a><span>7.4K</span>
             <a href="#"><img  class="imghw ml-3" src="../../assets/assets/img/icon/dislike.png" width="30" alt="dislike"></a>
             <a class="ml-3" href="#"><img class="imghw" src="../../assets/assets/img/icon/share.png"  width="30"alt="share"></a><span class="ml-2 mr-4">21</span>
             <!-- <a href="#"><img src="../../assets/svg(s)/send.png" alt="share"></a><br><br>
             <span><a href="#"><img src="../../assets/svg(s)/more.png" alt="more"></a></span> -->


             <mat-accordion>
              <mat-expansion-panel hideToggle class="expansiontittle mt-3">
                <mat-expansion-panel-header class="expansiontittle">
                  <mat-panel-title class="expansiontittle">
                    Give a better answer
                  </mat-panel-title >
                </mat-expansion-panel-header>
                <div>
                  <div class="answered"  >
                    <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                      <span class="username"><img src="../../assets/assets/img/icon/userimage.png" width="30"  alt="userimg">{{userinfo.name}}</span>
                    
                    </div>
                    <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                      <a href="#"><img src="../../assets/assets/img/icon/bold.png" width="30" class="mr-3" alt="bold"></a>
                      <a href="#"><img src="../../assets/assets/img/icon/italic.png" width="30" class="mr-3" alt="italic"></a>

                      <a href="#"><img src="../../assets/assets/img/icon/list.png" width="34" class="mr-2 " alt="unordered list"></a>
                      <span ml-auto>
                        <a href="#"><img src="../../assets/assets/img/icon/numbered-list.png" width="25" class="ml-2" alt="ordered"></a>
                      </span>
                    </div>



                    <div class="inputans">


                      <form #answer="ngForm" (ngSubmit)="postans(answer)">

                        <input
                        type="text"
                        name="userid"
                        #userid="ngModel"
                        [(ngModel)]="userservice.answers.userid">

                        <input
                        type="hidden"
                        name="questionid"
                        #questionid="ngModel"
                        [(ngModel)]="ans1.questionid._id"
                        >

                         <input
                        type="text"
                        name="credentialid"
                        value="{{ans1.credentialid._id}}"
                        #credentialid="ngModel"
                        [(ngModel)]="ans1.credentialid._id"
                        >

                      <mat-form-field class="ansfield">
                        <textarea matInput name="answer" class="answerText"  rows="3" placeholder="Write Answer"
                        #answer="ngModel"
                       [(ngModel)]="userservice.answers.answer" ></textarea>
                      </mat-form-field>
                      <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                      <!-- <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button> -->

                     </form>
                    </div>
                  </div>


                  </div>

               </mat-expansion-panel>
             </mat-accordion>
           </div>

        </div>
    </div>


<!-- my div starts here -->


    <!-- Right portion started here  -->

    <div class="col-3 col shadow p-3 mb-5 bg-body rounded righttable">
      <div class=" Heading pt-2 shadow-sm   bg-body rounded">
        <p><button mat-button>Improve Your Account</button></p>
      </div>
     <!-- <table class="tablebox"> -->
         <!-- <div class="container-fluid Heading shadow-sm bg-body rounded box btndiv">
           <tr><a href="#">Follow interesting Peoples.</a></tr>
           <button mat-button class="btn-block">Follow interesting Peoples</button>
         </div> -->

         <div class="container-fluid Heading shadow-sm bg-body rounded btndiv">
           <!-- Event binding on (click) -->



           <button mat-button class="btn-block"(click)="ansQue()">Answer a Question</button>
         </div>
        <!-- </table> -->
        <div class="container Heading pt-2 shadow-sm p-3 mt-4 bg-body rounded">
          <p><a href="#">Links to Follow</a></p>
        </div>
        <table class="tablebox hovera">
          <div class="container-fluid Heading shadow-sm bg-body rounded box">
            <tr><a href="https://www.udemy.com/?deal_code=&utm_term=Homepage&utm_content=Textlink&utm_campaign=Rakuten-default&ranMID=39197&ranEAID=%2F68Yt01SgtI&ranSiteID=_68Yt01SgtI-PO0gUmQL__4ZyKGIVV3q0g&LSNPUBID=%2F68Yt01SgtI&utm_source=aff-campaign&utm_medium=udemyads">Our Teachers on Udemy</a></tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="https://www.classcentral.com/course/wharton-communication-skills-8235">Improve Communication skills</a>
            </tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="https://trumpexcel.com/learn-excel/">Learn MS Excel</a></tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="https://hackr.io/blog/best-programming-languages-to-learn-2021-jobs-future">Programming Languages</a></tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="https://www.codeproject.com/Articles/1052703/MEAN-Stack-Beginner-Tutorial">Learn MEAN Stack</a></tr>
          </div>
         </table>
      </div>
  </div>
</div>


</body>
</html>
