<mat-card>
  <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <br><br>

  <mat-toolbar>Edit your credentials

  </mat-toolbar>

  <form #credentials="ngForm" (ngSubmit)="OnSubmit(credentials)"><br><br>

    <input
     type="hidden"
     name="userid"
      #userid="ngModel"
    [(ngModel)]="userservice.addcred.userid">




    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Location"
      name="location"
      value={{cred.location}}
      #location="ngModel"
      [(ngModel)]="userservice.addcred.location">
    </mat-form-field>
    <br><br>


    <mat-form-field >
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker"
      name="dateofbirth"
      value={{cred.dateofbirth}}
      #dateofbirth="ngModel"
     [(ngModel)]="userservice.addcred.dateofbirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Address"
      name="address"
      value={{cred.address}}
      #address="ngModel"
      [(ngModel)]="userservice.addcred.address">
    </mat-form-field>
    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Education"
      name="education"
      value={{cred.education}}
      #education="ngModel"
     [(ngModel)]="userservice.addcred.education">
    </mat-form-field>
    <br><br>

    <mat-form-field>

     <mat-select
      placeholder="Select Professional Status"
      name="profile"
      #profile="ngModel"
        [(ngModel)]="userservice.addcred.profile">
        <mat-option value="{{cred.profile}}" selected>{{cred.profile}}</mat-option>
          <mat-option value ="Developer">Developer</mat-option>
          <mat-option value ="Debugger">Debugger</mat-option>
          <mat-option value ="Tester" >tester</mat-option>
          <mat-option value ="Senior Developer" >Senior Developer</mat-option>
          <mat-option value ="team leader">Team Leader</mat-option>
          <mat-option value ="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <br><br>

     <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Work Experience"
      name="workexperience"
      value={{cred.workexperience}}
      #workexperience="ngModel"
        [(ngModel)]="userservice.addcred.workexperience">
    </mat-form-field><br><br>




  <button type="submit" mat-stroked-button color="primary">Update Credentials</button>

  </form>
</mat-card>
