<mat-card>
  <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <br><br>

  <mat-toolbar>Add your credentials </mat-toolbar>



  <form #credentials="ngForm" (ngSubmit)="submitcred(credentials)"><br><br>

    <input
        type="hidden"
        name="userid"
        #userid="ngModel"
        [(ngModel)]="userservice.addcred.userid"


       >

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Location"
      name="location"
      #location="ngModel"
      [(ngModel)]="userservice.addcred.location"
      required
      [ngClass]="{'is-invalid':credentials.submitted && location.invalid}">
    </mat-form-field>
    <mat-error  *ngIf= "credentials.submitted && location.invalid">
      <mat-error *ngIf="location.errors?.required">
           Location should be entered
      </mat-error>
      </mat-error>
    <br><br>


    <mat-form-field >
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker"
      name="dateofbirth"
      #dateofbirth="ngModel"
     [(ngModel)]="userservice.addcred.dateofbirth"
     required
     [ngClass]="{'is-invalid':credentials.submitted && dateofbirth.invalid}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error  *ngIf= "credentials.submitted && dateofbirth.invalid">
      <mat-error *ngIf="dateofbirth.errors?.required">
          Date of birth should be entered
      </mat-error>
      </mat-error>
    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Address"
      name="address"
      #address="ngModel"
      [(ngModel)]="userservice.addcred.address"
      required
      [ngClass]="{'is-invalid':credentials.submitted && address.invalid}">
    </mat-form-field>
    <br><br>
    <mat-error  *ngIf= "credentials.submitted && address.invalid">
      <mat-error *ngIf="address.errors?.required">
          Address should be entered
      </mat-error>
      </mat-error>

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Education"
      name="education"
      #education="ngModel"
      [(ngModel)]="userservice.addcred.education"
      required
     [ngClass]="{'is-invalid':credentials.submitted && education.invalid}">
    </mat-form-field>
    <mat-error  *ngIf= "credentials.submitted && education.invalid">
      <mat-error *ngIf="education.errors?.required">
        Education should be entered
      </mat-error>
      </mat-error>
    <br><br>

    <mat-form-field>

     <mat-select
      placeholder="Select Professional Status"
      name="profile"
      #profile="ngModel"
      [(ngModel)]="userservice.addcred.profile"
      required
      [ngClass]="{'is-invalid':credentials.submitted && profile.invalid}">
          <mat-option value ="Developer">Developer</mat-option>
          <mat-option value ="Debugger">Debugger</mat-option>
          <mat-option value ="Tester" >tester</mat-option>
          <mat-option value ="Senior Developer" >Senior Developer</mat-option>
          <mat-option value ="team leader">Team Leader</mat-option>
          <mat-option value ="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error  *ngIf= "credentials.submitted && profile.invalid">
      <mat-error *ngIf="profile.errors?.required">
        Profile should be entered
      </mat-error>
      </mat-error>
    <br><br>

     <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Work Experience"
      name="workexperience"
      #workexperience="ngModel"
      [(ngModel)]="userservice.addcred.workexperience "
      required
      [ngClass]="{'is-invalid':credentials.submitted && workexperience.invalid}">
      <mat-error  *ngIf= "credentials.submitted && workexperience.invalid">
        <mat-error *ngIf="workexperience.errors?.required">
          Workexperience should be entered
        </mat-error>
        </mat-error>
    </mat-form-field><br><br>




  <button type="submit" mat-stroked-button color="primary">Submit Credentials</button>

  </form>
</mat-card>

