
<mat-card>
  <!-- <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <br><br>

  <mat-toolbar>Add your credentials

  </mat-toolbar>

  <form #credentials="ngForm" (ngSubmit)="submitcred(credentials)"><br><br>

    <input
        type="hidden"
        name="user"
        #user="ngModel"
        [(ngModel)]="userservice.newQuePost.user"

        >

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Location"
      name="location"
      #location="ngModel"
      [(ngModel)]="userservice.addcred.location">
    </mat-form-field>
    <br><br>


    <mat-form-field >
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker"
      name="dateofbirth"
      #dateofbirth="ngModel"
     [(ngModel)]="userservice.addcred.dateofbirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Address"
      name="address"
      #address="ngModel"
      [(ngModel)]="userservice.addcred.address">
    </mat-form-field>
    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Education"
      name="education"
      #education="ngModel"
     [(ngModel)]="userservice.addcred.education">
    </mat-form-field>
    <br><br>

    <mat-form-field>

     <mat-select
      placeholder="Select Professional Status"
      name="profile"
      #profile="ngModel"
        [(ngModel)]="userservice.addcred.profile">
          <mat-option value ="Developer">Developer</mat-option>
          <mat-option value ="Debugger">Debugger</mat-option>
          <mat-option value ="Tester" >tester</mat-option>
          <mat-option value ="Senior Developer" >Senior Developer</mat-option>
          <mat-option value ="team leader">Team Leader</mat-option>
          <mat-option value ="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <br><br>

     <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Work Experience"
      name="workexperience"
      #workexperience="ngModel"
        [(ngModel)]="userservice.addcred.workexperience">
    </mat-form-field><br><br>




  <button type="submit" mat-stroked-button color="primary">Submit Credentials</button>

  </form>
</mat-card>


<!-- <table class="table">
  <tr>
    <th>Location</th>
    <th>Address</th>
    <th>profile</th>
    <th>dateOfBirth</th>
    <th>Profile</th>
    <th>workexperience</th>
    <th>education</th>
    <th>user</th>
  </tr>

  <tr *ngFor="let credential of cred">
   <td>{{credential.location}}</td>
   <td>{{credential.address}}</td>
   <td>{{credential.profile}}</td>
   <td>{{credential.dateofbirth}}</td>
   <td>{{credential.workexperience}}</td>
   <td>{{credential.user}}</td>
   <td>{{credential.education}}</td>

  </tr>
</table> -->
