<mat-card>
  <mat-toolbar>Set New Password</mat-toolbar>
  <br><br>
  <form #resetpassform="ngForm" (ngSubmit)="setpass(resetpassform)" >
     <mat-form-field>
    <input type="password" name="password" placeholder="Password"
    #password="ngModel" [(ngModel)]="userservice.newUser.password"
    required
    [type]="hide? 'password' : 'text'"
    matInput
    minlength="4"
    [ngClass]="{'is-invalid':resetpassform.submitted && password.invalid}"/>

    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
   </button>
  </mat-form-field>

   <mat-error *ngIf= "resetpassform.submitted && password.invalid">
    <mat-error *ngIf="password.errors?.required">
      Password should be entered
    </mat-error>

    <mat-error *ngIf="password.errors?.minlength">
     password should be greater than 5 charaters
    </mat-error>
  </mat-error>
  <br>


 <mat-form-field>
    <input type="password"
    matInput
    [type]="hide1 ? 'password' : 'text'"
     name="confirmpassword"
     placeholder="Confirm password"
    pattern={{password.value}}
    required
    [ngClass]="{'is-invalid':resetpassform.submitted && confirmpassword.invalid}"
    #confirmpassword="ngModel" [(ngModel)]="userservice.newUser.confirmpassword"/>

    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide1">
    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
   </button>
  </mat-form-field>

    <mat-error *ngIf= "resetpassform.submitted && confirmpassword.invalid">
      <mat-error *ngIf="confirmpassword.errors?.required">
        Confirm password should be entered
      </mat-error>
      <mat-error *ngIf="confirmpassword.errors?.pattern">
        password and confirm password should match
      </mat-error>
    </mat-error>
    <br>
  <button type="sumbit" [disabled]="resetpassform.invalid" mat-raised-button color="primary"> Update password </button>
</form>
</mat-card>
