<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class=" mainbox mx-auto ">
    <!-- mt-5 shadow-lg p-3 mb-5 bg-body rounded -->
    <div  class="mx-auto mt-4 heading">Add Question</div>
    <div class="container tips mt-4 pt-2 shadow-sm  bg-body rounded ">
      <p>Tips for getting good answers quickly</p>
      <ul>
        <li>
         Make sure your question has not been asked already
        </li>
        <li>
         Keep your question short and to the point
        </li>
        <li>
         Double-check grammar and spelling
        </li>
      </ul>
     </div>
     <div class="container pl-4 divw">
       <span class="username ml-4 text-cap"><img src="../../assets/assets/img/icon/userimg.jpg" width="25"  alt="userimg">{{userinfo.firstname}} {{userinfo.lastname}}</span>
       <!-- <span> asked to</span> -->
       <!-- <select class="form-select form-select-sm to" aria-label=".form-select-sm example">
         <option selected>Public</option>
         <option value="1">Anonyms</option>
         <option value="2">Limited</option>
       </select>-->
       <br><br>


      <form action="#" class="ml-4" #questionform="ngForm" (ngSubmit)="onadd(questionform)">
        <input
        type="hidden"
        name="user"
        #user="ngModel"
        [(ngModel)]="userservice.newQuePost.user"

        >

       <mat-form-field class="matwidth" >
         <mat-label> Category of question</mat-label>
         <mat-select
         name="category"
        #category="ngModel"
        [(ngModel)]="userservice.newQuePost.category"
         >
           <mat-option value="Music">Music</mat-option>
           <mat-option value="Education">Education</mat-option>
           <mat-option value="Sports">Sports</mat-option>
           <mat-option value="Technical">Technical</mat-option>

     </mat-select>

    </mat-form-field>


       <mat-form-field class="matwidth">
         <input matInput placeholder="Write your question here."
         name="question"
        #question="ngModel"
        [(ngModel)]="userservice.newQuePost.question" >
       </mat-form-field>


       <mat-form-field class="matwidth">
         <input matInput placeholder="About your question(in detail)"
         name="about"
        #about="ngModel"
        [(ngModel)]="userservice.newQuePost.about">
       </mat-form-field>

       <button mat-raised-button class="subutton mt-2 mb-3 " type="submit">Submit</button>
      </form>
     </div>
   </div>

</body>
</html>
