<mat-card>
  <mat-toolbar>Forgot Password</mat-toolbar>
  <br><br>
  <form #forgotpassform="ngForm" (ngSubmit)="sendemail(forgotpassform)" >

  <mat-form-field>
    <input
     type="email"
    placeholder="Enter Your email"
    matInput
    name="email"
    [(ngModel)]="userservice.newUser.email"
    #email="ngModel"
    required
    email
    [ngClass]="{'is-invalid':forgotpassform.submitted && email.invalid}">
  </mat-form-field>

  <mat-error  *ngIf= "forgotpassform.submitted && email.invalid">
    <mat-error *ngIf="email.errors?.required">
      Email should be entered
    </mat-error>
    <mat-error *ngIf="email.errors?.email">
      Invalid format
     </mat-error>
    </mat-error>
  <br><br>

  <button type="sumbit" [disabled]="forgotpassform.invalid" mat-raised-button color="primary"> Reset password </button>
</form>
</mat-card>
