<!-- We Trusted Start-->
<div class="we-trusted-area trusted-padding">
  <div class="container">
      <div class="row d-flex align-items-end">
          <div class="col-xl-7 col-lg-7">
              <div class="trusted-img">
                  <img src="assets/assets/img/team/wetrusted.jpg" alt="">
              </div>
          </div>
          <div class="col-xl-5 col-lg-5">
              <div class="trusted-caption">
                 <h2>Public platform to get best answers</h2>
                 <p> platform that provides instant and relevant responses to your thoughts and questions by connecting you to people the people who should be able to help.</p>
                  <!-- <a href="#" class="btn trusted-btn">Learn More</a> -->
              </div>
          </div>
      </div>
  </div>

</div>
<!-- We Trusted End-->


