<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->

      <div class="single-slider slider-height d-flex align-items-center maindiv" data-background="assets/assets/img/hero/h1_hero.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-8">
                      <div class="hero__caption">
                          <p data-animation="fadeInLeft" data-delay=".4s">Welcome to QA platform</p>
                          <h1 data-animation="fadeInLeft" data-delay=".6s" >Share your Knowledge and information</h1>
                          <!-- Hero-btn -->
                          <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                              <!-- <a href="industries.html" class="btn hero-btn">Join the community</a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<!-- slider Area End-->

