<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container-fluid maindiv">
    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row">

    <!-- Left Div -->

      <div class="col-md-2 col ">
        <div class=" container  shadow p-3 bg-body rounded">
          <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
             <p><a href="#">Question</a></p>
          </div>
          <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
            <nav>
              <ul class="greyleft">
                <li  class="sidenav">
                  <a href="#">Questions for you</a>
                </li>
                <li  class="sidenav">
                  <a href="#">Most asked questions</a>
                </li>
                <li  class="sidenav">
                  <a href="#">Questions for you</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
     </div>

     <!-- middile div -->

    <div class="col-md-7 col shadow-lg p-3 mb-5 bg-body rounded">
      <div class="container Heading pt-2 text-center shadow-sm p-3 bg-body rounded">
        <p><a href="#">Questions for you</a></p>
      </div>


      <!--  div1 to show question -->
      <div class="toanswer">
        <div class="container Heading shadow-sm p-3 bg-body rounded " *ngFor="let que1 of que">
          <span class="follow">
            Question added.
          </span>
          <span class="follow">
            Hindi(language)
          </span>
          <div class="question ">
            <a href="#">{{que1._id.question}}</a>
          </div>
          <span class="answerinfo">
            No answer yet .
          </span>
          <span class="follow">last active 9m ago</span>


          <!-- div1.1 -->
          <div class="bottomdiv">
            <!-- <button class="mt-1" data-toggle="collapse" data-target="#collapseExample"  mat-raised-button><img src="../../assets/assets/img/icon/answer.png" width="20" class="mt-1 mr-1" alt="answer">Answer</button>
            <button mat-raised-button class="ml-2"><img src="../../assets/assets/img/icon/follow.png" width="20" alt="follow">Follow</button> -->
            <!-- <button mat-raised-button class="ml-2"><img src="../../assets/assets/img/icon/" width="25" alt="Pass">Pass</button> -->
            <div class="rightbottom ml-5 mt-2">
              <span class="dislike"><a href="#" ><img src="../../assets/assets/img/icon/dislikee.jpg" width="28"  alt="dislike"></a></span>
              <span class="more ml-3"><a href="#"><img src="../../assets/assets/img/icon/more.png" width="30" alt="more"></a></span>
            </div>



            <!--  div1.2 for show answer panel -->
               <mat-accordion>
              <mat-expansion-panel hideToggle class="expansiontittle mt-3">
                <mat-expansion-panel-header class="expansiontittle">
                  <mat-panel-title class="expansiontittle">
                    Give answer
                  </mat-panel-title >
                </mat-expansion-panel-header>
                <div>
                  <div class="answered"  >
                    <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                      <span class="username"><img src="../../assets/assets/img/icon/userimg.jpg" width="30"  alt="userimg">{{userinfo.name}}</span>
                    </div>
                    <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                      <a href="#"><img src="../../assets/assets/img/icon/bold.png" width="20" class="mr-3" alt="bold"></a>
                      <a href="#"><img src="../../assets/assets/img/icon/italic.png" width="20" class="mr-3" alt="italic"></a>
                      <!-- <a href="#"><img src="../../assets/svg(s)/ol.svg" width="20" class="mr-4" alt="ordered list"></a> -->
                      <a href="#"><img src="../../assets/assets/img/icon/list.png" width="28" class="mr-2" alt="unordered list"></a>
                      <span ml-auto>
                        <a href="#"><img src="../../assets/assets/img/icon/ordered.png" width="18" class="ml-2" alt="ordered"></a>
                      </span>
                    </div>
                    <div class="inputans">
                      <div *ngFor="let cred1 of cred">

                      <form #answer="ngForm" (ngSubmit)="postans(answer)">

                        <input
                        type="hidden"
                        name="userid"
                        #userid="ngModel"
                        [(ngModel)]="userservice.answers.userid">

                        <input
                        type="hidden"
                        name="questionid"
                        #questionid="ngModel"
                        [(ngModel)]="que1._id"

                        >

                          <input
                           type="hidden"
                           name="credentialid"
                           #credentialid="ngModel"
                           [(ngModel)]="cred1._id"
                          >

                      <mat-form-field class="ansfield">
                        <textarea matInput name="answer" class="answerText"  rows="3" placeholder="Write Answer"
                        #answer="ngModel"
                        [(ngModel)]="userservice.answers.answer"
                        ></textarea>
                      </mat-form-field>


                      <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                      <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>

                    </form>
                  </div>
                    </div>
                  </div>
                </div>

               </mat-expansion-panel>
             </mat-accordion>
          </div>
       </div>
     </div>



    </div>

     <!-- Right div -->

      <div class="col-md-3 col shadow p-3 mb-5 bg-body rounded righttable">
        <div class="container Heading pt-2 text-center shadow-sm p-3 bg-body rounded">
          <p><a href="#">Add Topics you know</a></p>
        </div>
        <div class="container-fluid topics pt-2 shadow-sm p-3 bg-body rounded">
          <p>Adding topics helps us find questions for you to answer</p>
          <button mat-stroked-button class="topicbtn">Add Topics</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</body>
</html>
