<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
  <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h1>
                              {{userinfo.name}}

                            </h1>

                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="false">Questions</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="answer-tab" data-toggle="tab" href="#answer" role="tab" aria-controls="answer" aria-selected="false">Answer</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">Followers</a>
                  </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" (click)="editprofile()" value="Edit Profile"/><br> -->

                <!-- <input type="submit" class="profile-edit-btn mt-3" name="btnAddMore" (click)="logout()" value="Logout"/> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <!-- <h3 (click)="addcred()">Add Credentials</h3><br> -->
                    <button type="submit" (click)="editprofile()" class="rounded" mat-stroked-button>Edit Your profile </button><br>
                  <button type="submit" (click)="addcred()" class="mt-3" mat-stroked-button>Add Credentials </button><br>
                    <button type="submit" (click)="logout()" class="mt-3" mat-stroked-button>Logout </button><br>
                    <!-- <div class="row">
                      <div class="col-md-6">
                          <label>Location{{cred.location}}</label>
                      </div>
                      <div class="col-md-6">
                          <p>
                            </p>
                      </div>
                  </div> -->



                    <!-- <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/> -->
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                 <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userinfo.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userinfo.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Contact Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userinfo.contact}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Developer</p>
                                    </div>
                                </div>


                                <h1>Other Information</h1>

                                <!-- <tr *ngFor="let credential of cred">
                                  <td>{{credential.location}}</td>
                                  <td>{{credential.address}}</td>
                                  <td>{{credential.profile}}</td>
                                  <td>{{credential.dateofbirth}}</td>
                                  <td>{{credential.workexperience}}</td>
                                  <td>{{credential.user}}</td>
                                  <td>{{credential.education}}</td>

                                 </tr> -->



                                <div class="row">
                                  <div class="col-md-6">
                                      <label>Location</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{cred[0].location}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <label>Date Of Birth</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{cred[0].dateofbirth}}</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>Address</label>
                              </div>
                              <div class="col-md-6">
                                  <p>{{cred[0].address}}</p>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <label>Profile</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{cred[0].profile}}</p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <label>Work Experience</label>
                          </div>
                          <div class="col-md-6">
                              <p>{{cred[0].workexperience}}</p>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <label>Education</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{cred[0].education}}</p>
                        </div>
                    </div>


                    </div>
                    <div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="question-tab">
                       <div *ngIf="que.length; else noques">

                        <div class="container Heading shadow-sm p-3 bg-body rounded " *ngFor="let que1 of que">
                          <span class="follow">
                            Question added.
                          </span>
                          <span class="follow">
                            Hindi(language)
                          </span>
                          <div class="question " >
                            <a href="#" >
                              {{que1.question}}
                            </a>
                          </div>
                          <!-- <span class="answerinfo">
                            No answer yet .
                          </span>
                          <span class="follow">last active 9m ago</span> -->


                          <!--div1.1 -->
                           <div class="bottomdiv">
                            <!-- <button class="mt-1" data-toggle="collapse" data-target="#collapseExample"  mat-raised-button><img src="../../assets/assets/img/icon/answer.png" width="20" class="mt-1 mr-1" alt="answer">Answer</button>
                            <button mat-raised-button class="ml-2"><img src="../../  /assets/img/icon/follow.png" width="20" alt="follow">Follow</button> -->
                             <div class="rightbottom ml-5 mt-2">
                              <!-- <span class="dislike"><a href="#" ><img src="../../assets/assets/img/icon/dislike.png" width="30"  alt="dislike"></a></span>
                              <span class="more ml-3"><a href="#"><img src="../../assets/assets/img/icon/more.png" width="30" alt="more"></a></span> -->
                            </div>



                            <!--  div1.2 for show answer panel -->

                            <!-- <mat-accordion>
                              <mat-expansion-panel hideToggle class="expansiontittle mt-3">
                                <mat-expansion-panel-header class="expansiontittle">
                                  <mat-panel-title class="expansiontittle">
                                    Give answer
                                  </mat-panel-title >
                                </mat-expansion-panel-header>
                                <div>
                                  <div class="answered"  >
                                    <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                                      <span class="username"><img src="../../assets/assets/img/icon/userimage.png" width="30"  alt="userimg">{{userinfo.name}}</span>
                                    </div>
                                    <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                                      <a href="#"><img src="../../assets/assets/img/icon/bold.png" width="30" class="mr-3" alt="bold"></a>
                                      <a href="#"><img src="../../assets/assets/img/icon/italic.png" width="30" class="mr-3" alt="italic"></a>
                                      <a href="#"><img src="../../assets/svg(s)/ol.svg" width="20" class="mr-4" alt="ordered list"></a>
                                      <a href="#"><img src="../../assets/assets/img/icon/list.png" width="34" class="mr-2" alt="unordered list"></a>
                                      <span ml-auto>
                                        <a href="#"><img src="../../assets/assets/img/icon/numbered-list.png" width="25" class="ml-2" alt="ordered"></a>
                                      </span>
                                    </div>
                                    <div class="inputans">
                                      <mat-form-field class="ansfield">
                                        <textarea matInput name="answerText" class="answerText"  rows="3" placeholder="Write Answer" ></textarea>
                                      </mat-form-field>
                                      <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                                      <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>


                                    </div>
                                  </div>
                                </div>
                               </mat-expansion-panel>
                             </mat-accordion> -->

                          </div>
                       </div>
                        <button class="mt-3 ml-4" mat-raised-button color="primary" (click)="askque()">Ask more Questions</button>
                    </div>


                    <ng-template #noques>
                      <h3>You haven't asked any question yet.</h3>
                      <button class="mt-3 ml-4" mat-raised-button color="primary" (click)="askque()">Ask Questions</button>
                    </ng-template>

                    </div>


                    <div class="tab-pane fade" id="answer" role="tabpanel" aria-labelledby="answer-tab" >
                      <div class="container Heading shadow-sm p-3 bg-body rounded ">
                        <div *ngFor ="let ans1 of ans">
                          <h3>{{ans1.answer}}</h3>
                        </div>
                      <!-- <h3>{{ans1.answer}}</h3> -->
                      <!-- <h3>No answers yet</h3> -->
                      </div>
                    </div>

                     <div class="tab-pane fade" id="follower" role="tabpanel" aria-labelledby="follower-tab">

                      <h3>No followers yet</h3>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
