<!-- Team-profile Start -->
<div class="team-profile team-padding">
  <div class="container">
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-profile mb-30">
                  <!-- Front -->
                  <div class="single-profile-front">
                      <div class="profile-img">
                          <img src="assets/assets/img/team/team_1.jpg" alt="">
                      </div>
                      <div class="profile-caption">
                          <h4><a routerLink="/questions">Search for Question</a></h4>
                          <p>Find the best answer to your technical questions ,help others answer theirs</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-profile mb-30">
                  <!-- Front -->
                  <div class="single-profile-front">
                      <div class="profile-img">
                          <img src="assets/assets/img/team/team_2.jpg" alt="">
                      </div>
                      <div class="profile-caption">
                          <h4><a routerLink="/answers">Give best replies</a></h4>
                          <p>Share your technical knowledge and help others</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-profile mb-30">
                  <!-- Back -->
                  <div class="single-profile-back-last">
                      <h2>What we do for you</h2>
                      <p>Probably the most popular community Q&A powered site with millions of users and thousands of questions asked and answered every day. All the questions are categorized in such a way that you can easily search for a related question in a category or place you question in a relevant category</p>
                      <!-- <a href="#">View profile Â»</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Team-profile End-->


